@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Serif+Text:ital@0;1&family=Do+Hyeon&display=swap');

:root {
    --border-radius: 7px;
    --border: #55AD9B 2px solid;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-size: 16px;
}

body {
    background-color: #D8EFD3;
    display: flex;
    /* 정렬 방향 설정 */
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

#wrap {
    /*  vw : 뷰포트 너비 기준 
        vh : 뷰포트 높이 기준  */
    width: 100vw;
    height: 100vh;
}

#header {
    width: 94%;
    height: 7%;
    display: flex;
    margin: 0 auto;
}

.logo,
.join {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 10px;
    line-height: 40px;
    border-radius: 7px;
    font-family: "Do Hyeon", sans-serif;
    background-color: #95D2B3;
}

.logo {
    left: 3vw;
}

.join {
    right: 3vw;
}

#main {
    height: 90%;
}

#canvasWrap {
    margin: auto;
    width: 94vw;
    height: 60vh;
    border: var(--border);
    border-radius: var(--border-radius);
}

#canvas {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

#nav {
    border: var(--border);
    background-color: var(--border);
    position: relative;
    width: 94vw;
    height: 20%;
    left: 3vw;
    top: 6%;
    display: flex;
}

.menu {
    margin: auto;
}

/* floppy */
.floppy {
    width: 110px;
    height: 130px;
    background-color: #ddd;
}

.floppy img {
    width: 110%;
    height: 100%;
}

/* paint bucket */
.bucket {
    width: 140px;
}

.bucket img {
    width: 100%;
    height: 100%;
}

/* pallete */
.palette {
    width: 180px;
    height: 140px;
    border-radius: 30%;
    background-color: #f0c370;
    box-shadow: 3px 1px #b9934baa;
}

.colors {
    padding-top: 12px;
    width: 100%;
    margin: 0 auto;
}

.color {
    border-radius: 50%;
    width: 20%;
    height: 35px;
    display: inline-block;
}

.hole {
    margin-left: 20px;
    box-shadow: -3px -1px #b9934baa
}

/* brush */
.brush {
    width: 110px;
    height: 140px;
}

.brush img {
    width: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    height: 3%;
    font-size: 11px;
    color: #95D2B3;
}

#footer a {
    color: #95D2B3;
}
